.actived{
    color: white;
    background-color: var(--green);
    border-radius: 25px;
    h6{
        font-weight: bolder;
    }
}
.card{
    border: none !important;
    .card-title{
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        color: white !important;
    }
}
select{
    border: none !important;
    border-bottom: 1px solid white !important;
    border-radius: 0% !important;
    background-color: transparent !important;
    color: white !important;
}
option{
    color: black !important;
}
img{
    width: 100%;
    max-height: 150px;
}
.time-detail{
    font-size: 12px;
}
.form-login{
    input{
        width: 100%;
        padding: 10px;
        border: none;
        background: none;
        border-bottom: 1px solid white;
        outline: none !important;
        color: white;
        border-radius: 0;
    }
}