<div id='background-page'>
  <div class='container-fluid mt-3'>
    <ion-list-header>
        <ion-searchbar #searchbar [ngStyle]="{'color': 'black'}" placeholder="Buscar..." animated (ionChange)="buscar($event)"></ion-searchbar>
    </ion-list-header>
    <ion-list>
      <ion-item lines="none" class='boxShadowItems mt-4' *ngFor='let item of clients; let i = index' [routerLink]="['/client-detail', item.id]">
        <ion-label>{{ item.email }}</ion-label>
        <ion-icon slot='end' name='arrow-forward' [ngStyle]="{'color': 'black'}"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</div>