ion-content{
    --background: var(--blue-dark);
}
.form-login{
    input{
        width: 80%;
        padding: 10px;
        border: none;
        background: none;
        border-bottom: 1px solid black;
        outline: none !important;
    }
    .login-icon{
        vertical-align: middle;
        padding-right: 10px;
    }
}
ion-back-button{
    display: initial !important;
    color: white;
}