.form-login{
    input{
        width: 80%;
        padding: 10px;
        border: none;
        background: none;
        border-bottom: 1px solid black;
        outline: none !important;
    }
}
select{
    border: none !important;
    border-bottom: 1px solid black !important;
    border-radius: 0% !important;
}
.login-icon{
    font-size: 22px;
    color: var(--green);
    position: relative;
    top: 11px;
}