#background-page {
    background-image: url("./../../../../assets/img/page.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}
ion-searchbar {
    max-width: 95%;
}
ion-select {
    color: white;
}